main {
  margin: 0 auto;
  width: 60vw;
}

main section {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

form {
  margin: 0 auto;
  width: 80%;
}
